# Loan Approval Classifier Project
---

In [1]:
#All the imports

import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from math import sqrt
import matplotlib.pyplot as plt
from statsmodels.stats.outliers_influence import variance_inflation_factor

---
### Now lets load the dataset and take a look at the first few rows.
---

In [3]:
loanDB = pd.read_csv('../../data/loan_data.csv')
loanDB.head(5)

   person_age person_gender  ... previous_loan_defaults_on_file  loan_status
0        22.0        female  ...                             No            1
1        21.0        female  ...                            Yes            0
2        25.0        female  ...                             No            1
3        23.0        female  ...                             No            1
4        24.0          male  ...                             No            1

[5 rows x 14 columns]

In [5]:
print(loanDB.shape)
loanDB.info()

(45000, 14)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45000 entries, 0 to 44999
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   person_age                      45000 non-null  float64
 1   person_gender                   45000 non-null  object
 2   person_education                45000 non-null  object
 3   person_income                   45000 non-null  float64
 4   person_emp_exp                  45000 non-null  int64
 5   person_home_ownership           45000 non-null  object
 6   loan_amnt                       45000 non-null  float64
 7   loan_intent                     45000 non-null  object
 8   loan_int_rate                   45000 non-null  float64
 9   loan_percent_income             45000 non-null  float64
 10  cb_person_cred_hist_length      45000 non-null  float64
 11  credit_score                    45000 non-null  int64
 12  previous_loan_defaults_on_file  45000 non-null  object
 13  loan_status                     45000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 4.8+ MB